<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>

  <h1>Blog Posts</h1>
  <p>This is where I you can see all my blog posts</p>
  <ul>
      <li><a href="/posts/a-programmers-note-taking-system/">Post 1</a></li>
    </ul>
</body>
